body{
   display:flex;
   justify-content: center;
}

.tudo{
   display:flex;
   flex-direction: column;
   position: static;
   label{
	   color: #0600ff;
	   font-weight: 900;
   }
}
.absolutes{
	//position: absolute;
}

.row-flex{
    label{padding-right:5px;}
    display: flex;
    justify-content: space-between;
    input::-webkit-inner-spin-button {
       -webkit-appearance: none;
   }
   padding:5px;
  
}

#corpinho{
	z-index:9;
	position: absolute;
	width: 400px;
	height: 400px;
	}

#backbolado{
   z-index:1;
   background-image: url(relampaguinho.png);
   background-repeat: no-repeat;
   background-size: contain;
   width: 400px;
   height:400px;
  // position: relative;
   opacity: 0.5;
}


.titulo{
   display: flex;
   justify-content: center;
   border-bottom:solid 1px;
    h2{
	   color: #0600ff;
	   font-weight: 900;
   }
}

.rodape{
    border-top:solid 1px;
	 h4{
	   color: #0600ff;
	   font-weight: 900;
   }
    h3{
	   color: #0600ff;
	   font-weight: 900;
   }
}

.w-50{
   width:50%;
}

.centro{
   display: flex;
   justify-content: center;
   padding:5px;
}